@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    width: 100%;
    background-color: #0AFFED;
    font-family: 'Nunito', sans-serif;
}

.cards {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    justify-content: space-around;
    align-items: start;
    grid-template-columns: repeat(auto-fill, 500px);
    list-style-type: none;   
}

.card {
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.card > div {
    margin-bottom: 25px;
}

.card > div:last-child {
    margin-bottom: 0;
}

.card h3 {
    margin-bottom: 5px;
    font-weight: 600;
}

.card:hover {
    cursor: pointer;
    border: 2px solid salmon;
}

.date {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.vacancy {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
}

.status-label {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
}

.paid {
    background-color: lime;
}

.pending {
    background-color: aqua;
}

.submitted {
    background-color: yellow;
}

.text-highlight {
    font-weight: 600;
    opacity: .9;
}

.place-time i {
    font-size: 22px;
}

.skills {
    text-align: justify;
}

.skills p {
    font-weight: 600;
    font-size: 18px;
}

.skills ul {
    margin-left: 40px;
}

.skills ul li {
    margin-bottom: 5px;
    line-height: 1.4;
}

.metadata {
    text-align: right;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .card {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 350px) {
    .card {
        width: 60%;
    }
}

@media screen and (max-width: 250px) {
    .card {
        width: 40%;
    }
}
